In [1]:
a=5
print(a)
print(type(a))

5
<class 'int'>

In [2]:
f=1.5

print(f)
print(type(f))

1.5
<class 'float'>

In [4]:
s="hello" 
print(s)
print(type(s))

hello
<class 'str'>

In [6]:
b=True 
print(b)
print(type(b))

True
<class 'bool'>

In [7]:
t=5+3j
print(t)
print(type(t))

(5+3j)
<class 'complex'>

In [8]:
a=7
b=3
ab_sum=a+b
print(ab_sum)

10

In [9]:
ab_dif=a-b
print(ab_dif)

4

In [10]:
ab_pro=a*b
print(ab_pro)

21

In [11]:
ab_quo=a/b
print(ab_quo)

2.3333333333333335

In [12]:
ab_iquo=a//b
print(ab_iquo)

2

In [13]:
ab_rem=a%b
print(ab_rem)

1

In [14]:
ab_pow=a**b
print(ab_pow)

343

In [15]:
T=True
F=False
print(T,F)

True False

In [16]:
p=5>3
print(p)

True

In [17]:
q=-1<-12.55
print(q)

False

In [18]:
print(p and q)

False

In [19]:
print(p or q)

True

In [20]:
print(not q)

True

In [21]:
s='hello'
u="hello"
print(s)
print(u)

hello
hello

In [23]:
s1="python"
s2='world'
s3=s1+' '+s2
print(s3)

python world

In [27]:
s3='%s %s %d'%(s1,s2,1011)
print(s3)

python world 1011

In [28]:
print(len(s3))

17

In [29]:
print(s3.upper())

PYTHON WORLD 1011

In [30]:
print(s3.capitalize())

Python world 1011

In [31]:
print(s3.lower())

python world 1011

In [32]:
print('hello world how are you'.split(' '))

['hello', 'world', 'how', 'are', 'you']

In [33]:
print('book'.replace('o','e'))

beek

In [34]:
word='jewellery'
print(word.find('well'))
print(word.find('is'))

2
-1

In [43]:
number=100
if number > 99 and number < 1000:
    print('3 digit')

else:

    print('Not 3 digit')

3 digit

In [46]:
response=input('Are you familiar with python:')
if response.upper()=="YES":
    print("You can skip this course :-|") 
elif response.upper() == "NO":

    print("You are at the right place :-)") 
else:
    print('Sorry wrong input :-(')

Are you familiar with python:YES
You can skip this course :-|

In [48]:
for x in range(10):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [49]:
limit=int(input('Enter a limit:'))
sum=0
for i in range(1,limit + 1):
    if i%2!=0:
            sum+=i
print("Odd sum="+str(sum))

Enter a limit:15
Odd sum=64

In [54]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [57]:
number=int(input('Enter number:'))
s=0
while number > 0:
    s+=number%10
    number=number//10
print(s)

Enter number:1254
12

In [59]:
limit = int(input('Enter number : '))
for num in range(2,limit+1):
    is_divisible = False
    k=2

    while k <= num//2 :

        if num % k == 0:
            is_divisible=True
            break;

        k += 1

    if not is_divisible:
        print(num,end=' ')

Enter number : 400
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397

In [60]:
mylist=['a','b',1,1.2,True]
print(mylist)

['a', 'b', 1, 1.2, True]

In [61]:
mylist.append('new')
print(mylist)

['a', 'b', 1, 1.2, True, 'new']

In [62]:
print(mylist.pop())

new

In [63]:
mylist.insert(2,'new')
print(mylist)

['a', 'b', 'new', 1, 1.2, True]

In [64]:
mylist.remove('new')
print(mylist)

['a', 'b', 1, 1.2, True]

In [65]:
b=[1,2,3]
mylist.append(b)
print(mylist)

['a', 'b', 1, 1.2, True, [1, 2, 3]]

In [66]:
mylist.remove(b)
print(mylist)

['a', 'b', 1, 1.2, True]

In [67]:
mylist.extend(b)
print(mylist)

['a', 'b', 1, 1.2, True, 1, 2, 3]

In [68]:
a=[2,3,1,4,5]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [69]:
print(list("hello"))

['h', 'e', 'l', 'l', 'o']

In [82]:
print(a[1],a[-1])

2 5

In [84]:
sliced=a[2:5]
print(sliced)

[3, 4, 5]

In [85]:
sliced=a[:5]
print(sliced)

[1, 2, 3, 4, 5]

In [86]:
sliced=a[-2:]
print(sliced)

[4, 5]

In [87]:
a=list(range(1,8))
print (a)

[1, 2, 3, 4, 5, 6, 7]

In [89]:
square=[]
for i in a:
        square.append(pow(i,2))
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [93]:
A=[4,6,8,9]
AxA=[(b,c) for b in A for c in A if a!=b]
print(AxA)

[(4, 4), (4, 6), (4, 8), (4, 9), (6, 4), (6, 6), (6, 8), (6, 9), (8, 4), (8, 6), (8, 8), (8, 9), (9, 4), (9, 6), (9, 8), (9, 9)]

In [94]:
square=[x**2 for x in a]
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [96]:
odd_square=[x**2 for x in a if x%2]
print(odd_square)

[1, 9, 25, 49]

In [97]:
person={'name':'Manu', 'age':28}
print(person['name'])

Manu

In [98]:
print('name' in person)

True

In [99]:
print('sex' in person)

False

In [100]:
person['sex']='male'
print(person)

{'name': 'Manu', 'age': 28, 'sex': 'male'}

In [101]:
for item in person:
        print(item,person[item])

name Manu
age 28
sex male

In [102]:
for(key,value) in person.items():
        print(key.capitalize(),'\t:\t',value)

Name 	:	 Manu
Age 	:	 28
Sex 	:	 male

In [103]:
print(person.keys())

dict_keys(['name', 'age', 'sex'])

In [104]:
t1=(1,2,3)
t2=4,5,6
print(t1,t2)

(1, 2, 3) (4, 5, 6)

In [105]:
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [106]:
lt=tuple(['a','b','c','d'])
print(lt)

('a', 'b', 'c', 'd')

In [107]:
lt[2]='x'

TypeError: 'tuple' object does not support item assignment

In [108]:
s=(3)
print(type(s))

<class 'int'>

In [109]:
s=(3,)
print(type(s))

<class 'tuple'>

In [110]:
s={1,2,3}
print(s,type(s))

{1, 2, 3} <class 'set'>

In [112]:
fset={"apple","banana","cherry"}
fset.remove("banana")
print(fset)

{'apple', 'cherry'}

In [113]:
fset = {"apple", "banana", "cherry"}
fset.discard("banana")
print(fset)

{'apple', 'cherry'}

In [114]:
fset = {"apple", "banana", "cherry"}
fset.clear()
print(fset)

set()

In [115]:
set1 = {"a", "b" , "c"} 
set2 ={1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'a', 1, 'b', 2, 3, 'c'}

In [116]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [117]:
lst = [1,2,3,4,5,5,5,7,6]
myset = list(set(lst))
print(myset)

[1, 2, 3, 4, 5, 6, 7]

In [120]:
def twice(number):
    return 2*number
t = twice(5)
print(t)
def isPrime(number):
    for factor in range(2, (number//2)+1): 
        if number%factor == 0:
            return False
    return True

number = int(input('Enter the number '))
print(isPrime(number))

10
Enter the number 10
False

In [121]:
def printPrimes(llimit, ulimit):
    for num in range(llimit, ulimit + 1):
            if isPrime(num) == True:
                print(num, end = ' ')

printPrimes(5,50)

5 7 11 13 17 19 23 29 31 37 41 43 47

In [123]:
def swap(x,y):

    t = x

    x = y

    y = t

    return x,y

a=5
b=7

a,b = swap(a,b)
print(a,b)

7 5

In [130]:
class Adder:
    def init (self):

        self.x = 0

        self.y = 0

    def setValues(self, x, y):

        self.x = x

        self.y = y

    def calculate(self1):

        self1.sum = self1.x + self1.y 

    def getSum(self): 
        return self.sum
adder = Adder()
adder.setValues(5,4)
adder.calculate()
print(adder.getSum())

9